In [54]:
import json
import pandas as pd
import geopandas as gp
import matplotlib
import gtfs_kit as kit

In [55]:
feed = kit.feed.read_feed('../data/mmt_gtfs.zip', dist_units='km')

In [56]:
kit.validators.validate(feed, as_df=True, include_warnings=True)

,type,message,table,rows
0,warning,Unrecognized column checkin_duration,agency,[]
1,warning,Unrecognized column bike_policy_url,agency,[]
2,warning,Unrecognized column service_name,calendar,[]
3,warning,Feed expired,calendar/calendar_dates,[]
4,warning,Unrecognized column agency_id,fare_attributes,[]
5,warning,Unrecognized column feed_contact_email,feed_info,[]
6,warning,Unrecognized column feed_contact_url,feed_info,[]
7,warning,Unrecognized column service_id,routes,[]
8,warning,Unrecognized column route_service_name,routes,[]
9,warning,Unrecognized column bikes_allowed,routes,[]
10,warning,"Repeated pair (route_short_name, route_long_name)",routes,"[63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 7..."
11,warning,Route has no trips,routes,"[0, 2, 12, 17, 22, 25, 26, 31, 32, 34, 35, 39,..."
12,warning,Unrecognized column shape_code,shapes,[]
13,warning,Unrecognized column agency_id,stops,[]
14,warning,Unrecognized column jurisdiction_id,stops,[]
15,warning,Unrecognized column relative_position,stops,[]
16,warning,Unrecognized column cardinal_direction,stops,[]
17,warning,Unrecognized column primary_street,stops,[]
18,warning,Unrecognized column address_range,stops,[]
19,warning,Unrecognized column cross_location,stops,[]
20,warning,Stop has no stop times,stops,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 99, 188, 221, 2..."
21,warning,Unrecognized column route_short_name,trips,[]
22,warning,Unrecognized column direction_name,trips,[]
23,warning,Unrecognized column shape_code,trips,[]
24,warning,Unrecognized column trip_type,trips,[]
25,warning,Unrecognized column trip_sort,trips,[]

In [57]:
feed = feed.drop_invalid_columns()
feed = feed.clean()

agency: dropping invalid column checkin_duration
agency: dropping invalid column bike_policy_url
calendar: dropping invalid column service_name
fare_attributes: dropping invalid column agency_id
feed_info: dropping invalid column feed_contact_email
feed_info: dropping invalid column feed_contact_url
routes: dropping invalid column service_id
routes: dropping invalid column route_service_name
routes: dropping invalid column bikes_allowed
shapes: dropping invalid column shape_code
stops: dropping invalid column agency_id
stops: dropping invalid column jurisdiction_id
stops: dropping invalid column relative_position
stops: dropping invalid column cardinal_direction
stops: dropping invalid column primary_street
stops: dropping invalid column address_range
stops: dropping invalid column cross_location
trips: dropping invalid column route_short_name
trips: dropping invalid column direction_name
trips: dropping invalid column shape_code
trips: dropping invalid column trip_type
trips: dropping invalid column trip_sort

/home/charles/.local/lib/python3.8/site-packages/gtfs_kit/cleaners.py:46: FutureWarning: The default value of regex will change from True to False in a future version.
  f[column] = f[column].str.strip().str.replace(r"\s+", "_")

In [58]:
first_week = feed.get_first_week()
first_week

['20210125',
 '20210126',
 '20210127',
 '20210128',
 '20210129',
 '20210130',
 '20210131']

In [59]:
# feed.describe()

In [60]:
# routes = feed.get_routes(date=first_week[0])
# routes.head()

In [61]:
#feed.map_routes(routes['route_id'])

In [62]:
trip_stats = feed.compute_trip_stats()

/home/charles/.local/lib/python3.8/site-packages/pandas/core/dtypes/cast.py:118: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)

In [63]:
fts = feed.compute_feed_time_series(trip_stats, dates=first_week, freq="2H")

In [64]:
# ideas:
    #building further from the feed time series
        # graph out the service_distance with time, number of trips with time, service speed.
fts

indicator,num_trip_ends,num_trip_starts,num_trips,service_distance,service_duration,service_speed
datetime,,,,,,
2021-01-25 00:00:00,8.0,10.0,10.0,53.420729,4.883333,10.939399
2021-01-25 02:00:00,2.0,0.0,2.0,2.926194,0.300000,9.753979
2021-01-25 04:00:00,18.0,35.0,35.0,188.913597,11.800000,16.009627
2021-01-25 06:00:00,187.0,221.0,238.0,1757.785688,115.233333,15.254143
2021-01-25 08:00:00,224.0,212.0,262.0,1745.655180,119.716667,14.581555
...,...,...,...,...,...,...
2021-01-31 14:00:00,123.0,123.0,142.0,954.763000,62.483333,15.280283
2021-01-31 16:00:00,123.0,123.0,142.0,954.520854,62.450000,15.284561
2021-01-31 18:00:00,127.0,128.0,147.0,973.462387,63.833333,15.250064
2021-01-31 20:00:00,129.0,129.0,149.0,970.322775,63.566667,15.264648
2021-01-31 22:00:00,79.0,62.0,82.0,534.379074,34.883333,15.319037

In [78]:
from datetime import datetime
fts.reset_index()['datetime']

0    2021-01-25 00:00:00
1    2021-01-25 02:00:00
2    2021-01-25 04:00:00
3    2021-01-25 06:00:00
4    2021-01-25 08:00:00
             ...
79   2021-01-31 14:00:00
80   2021-01-31 16:00:00
81   2021-01-31 18:00:00
82   2021-01-31 20:00:00
83   2021-01-31 22:00:00
Name: datetime, Length: 84, dtype: datetime64[ns]

In [82]:
type(fts.reset_index()['datetime'][0].to_datetime64())

numpy.datetime64

In [65]:
feed_stats = feed.compute_feed_stats(trip_stats, first_week)
feed_stats

,num_stops,num_routes,num_trips,num_trip_starts,num_trip_ends,service_distance,service_duration,service_speed,peak_num_trips,peak_start_time,peak_end_time,date
0,1725,43,1654,1654,1641,13131.7493,892.290278,14.716903,79,17:32:00,17:35:00,20210125
0,1725,43,1654,1654,1641,13131.7493,892.290278,14.716903,79,17:32:00,17:35:00,20210126
0,1725,43,1654,1654,1641,13131.7493,892.290278,14.716903,79,17:32:00,17:35:00,20210127
0,1725,43,1654,1654,1641,13131.7493,892.290278,14.716903,79,17:32:00,17:35:00,20210128
0,1725,43,1660,1660,1641,13164.4501,895.190278,14.705756,79,17:32:00,17:35:00,20210129
0,1725,29,1055,1055,1036,8050.2045,527.137222,15.271554,37,20:32:00,20:38:00,20210130
0,1725,29,1049,1049,1036,8017.5037,524.237222,15.293656,37,20:32:00,20:38:00,20210131

In [66]:
rts = feed.compute_route_time_series(trip_stats, first_week, freq='12H')
rts

indicator           num_trip_ends                                           \
route_id                     9500 9502 9503 9504 9505 9506  9507 9508 9509
datetime
2021-01-25 00:00:00            25   24   25   24   25   19  42.0  4.0  4.0
2021-01-25 12:00:00            47   36   38   48   45   34  52.0  4.0  4.0
2021-01-26 00:00:00            25   24   25   24   25   19  42.0  4.0  4.0
2021-01-26 12:00:00            47   36   38   48   45   34  52.0  4.0  4.0
2021-01-27 00:00:00            25   24   25   24   25   19  42.0  4.0  4.0
2021-01-27 12:00:00            47   36   38   48   45   34  52.0  4.0  4.0
2021-01-28 00:00:00            25   24   25   24   25   19  42.0  4.0  4.0
2021-01-28 12:00:00            47   36   38   48   45   34  52.0  4.0  4.0
2021-01-29 00:00:00            25   24   25   24   25   19  42.0  4.0  4.0
2021-01-29 12:00:00            47   36   38   48   45   34  52.0  4.0  4.0
2021-01-30 00:00:00            21   12   12   22   21    9   NaN  NaN  NaN
2021-01-30 12:00:00            47   22   25   48   45   22   NaN  NaN  NaN
2021-01-31 00:00:00            21   12   12   22   21    9   NaN  NaN  NaN
2021-01-31 12:00:00            47   22   25   48   45   22   NaN  NaN  NaN

indicator                 ... service_speed                                   \
route_id            9510  ...          9551       9552       9554       9555
datetime                  ...
2021-01-25 00:00:00   13  ...           NaN  16.725460  15.334732  17.422027
2021-01-25 12:00:00   23  ...           NaN  16.747591  14.796765  17.377460
2021-01-26 00:00:00   13  ...           NaN  16.725460  15.334732  17.422027
2021-01-26 12:00:00   23  ...           NaN  16.747591  14.796765  17.377460
2021-01-27 00:00:00   13  ...           NaN  16.725460  15.334732  17.422027
2021-01-27 12:00:00   23  ...           NaN  16.747591  14.796765  17.377460
2021-01-28 00:00:00   13  ...           NaN  16.725460  15.334732  17.422027
2021-01-28 12:00:00   23  ...           NaN  16.747591  14.796765  17.377460
2021-01-29 00:00:00   13  ...           NaN  16.725460  15.334732  17.422027
2021-01-29 12:00:00   23  ...           NaN  16.747591  14.796765  17.377460
2021-01-30 00:00:00   12  ...     18.529067        NaN        NaN        NaN
2021-01-30 12:00:00   21  ...     18.529067        NaN        NaN        NaN
2021-01-31 00:00:00   12  ...     18.529067        NaN        NaN        NaN
2021-01-31 12:00:00   21  ...     18.529067        NaN        NaN        NaN

indicator                                                                 \
route_id                  9556       9557       9558      9559      9560
datetime
2021-01-25 00:00:00  21.764849        NaN  10.314977  9.460889  9.790615
2021-01-25 12:00:00  20.983200        NaN  10.471099  9.460889  9.790615
2021-01-26 00:00:00  21.764849        NaN  10.314977  9.460889  9.790615
2021-01-26 12:00:00  20.983200        NaN  10.471099  9.460889  9.790615
2021-01-27 00:00:00  21.764849        NaN  10.314977  9.460889  9.790615
2021-01-27 12:00:00  20.983200        NaN  10.471099  9.460889  9.790615
2021-01-28 00:00:00  21.764849        NaN  10.314977  9.460889  9.790615
2021-01-28 12:00:00  20.983200        NaN  10.471099  9.460889  9.790615
2021-01-29 00:00:00  21.764849        NaN  10.424553  9.460889  9.790615
2021-01-29 12:00:00  20.983200        NaN  10.471099  9.460889  9.790615
2021-01-30 00:00:00        NaN  19.634218  12.094625  9.460889  9.790615
2021-01-30 12:00:00        NaN  19.780102  11.574525  9.460889  9.790615
2021-01-31 00:00:00        NaN  19.634218  11.738632  9.460889  9.790615
2021-01-31 12:00:00        NaN  19.780102  11.574525  9.460889  9.790615

indicator
route_id                  9561
datetime
2021-01-25 00:00:00  13.152667
2021-01-25 12:00:00  13.191461
2021-01-26 00:00:00  13.152667
2021-01-26 12:00:00  13.191461
2021-01-27 00:00:00  13.152667
2021-01-27 12:00:00  13.191461
2021-01-28 00:00:00  13.152667
2021-01-28 12:00:00  13.191461
2021-01-29 00:00:00  13.152667
2021-01-29 12:00:00  13.191461
2021-01-30 00:00:00        NaN
2021-01-30 12:00:00        NaN
2021-01-31 00:00:00        NaN
2021-01-31 12:00:00        NaN

[14 rows x 282 columns]

In [67]:
inds = ['service_distance', 'service_duration', 'service_speed']
rids = ['9500', '9502']

rts.loc[:, (inds, rids)]

indicator           service_distance            service_duration             \
route_id                        9500       9502             9500       9502
datetime
2021-01-25 00:00:00       279.212429  236.41758        21.966667  20.550000
2021-01-25 12:00:00       485.377571  326.48142        38.200000  28.850000
2021-01-26 00:00:00       279.212429  236.41758        21.966667  20.550000
2021-01-26 12:00:00       485.377571  326.48142        38.200000  28.850000
2021-01-27 00:00:00       279.212429  236.41758        21.966667  20.550000
2021-01-27 12:00:00       485.377571  326.48142        38.200000  28.850000
2021-01-28 00:00:00       279.212429  236.41758        21.966667  20.550000
2021-01-28 12:00:00       485.377571  326.48142        38.200000  28.850000
2021-01-29 00:00:00       279.212429  236.41758        21.966667  20.550000
2021-01-29 12:00:00       485.377571  326.48142        38.200000  28.850000
2021-01-30 00:00:00       236.525229  112.57980        18.750000   9.816667
2021-01-30 12:00:00       485.377571  206.39630        38.200000  18.183333
2021-01-31 00:00:00       236.525229  112.57980        18.750000   9.816667
2021-01-31 12:00:00       485.377571  206.39630        38.200000  18.183333

indicator           service_speed
route_id                     9500       9502
datetime
2021-01-25 00:00:00     12.710733  11.504505
2021-01-25 12:00:00     12.706219  11.316514
2021-01-26 00:00:00     12.710733  11.504505
2021-01-26 12:00:00     12.706219  11.316514
2021-01-27 00:00:00     12.710733  11.504505
2021-01-27 12:00:00     12.706219  11.316514
2021-01-28 00:00:00     12.710733  11.504505
2021-01-28 12:00:00     12.706219  11.316514
2021-01-29 00:00:00     12.710733  11.504505
2021-01-29 12:00:00     12.706219  11.316514
2021-01-30 00:00:00     12.614679  11.468231
2021-01-30 12:00:00     12.706219  11.350851
2021-01-31 00:00:00     12.614679  11.468231
2021-01-31 12:00:00     12.706219  11.350851